<%= form_for(@sighting) do |f| %>
  <% if @sighting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sighting.errors.count, "error") %> prohibited this sighting from being saved:</h2>

      <ul>
      <% @sighting.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="wrapper">
<!--     <div class="field">
      <%#= f.label :day %><br>
      <%#= f.text_field :day %>
    </div> -->
    <div class="field">
      <div class="label">
        <%#= f.label :latitude %>
        <p>LATITUDE</p>
      </div>
      <div class="input">
        <%= f.text_field :latitude, :id => "lat", :readonly => true , placeholder: "Populating..."%>
      </div>
    </div>

    <div class="field">
      <div class="label">
        <%#= f.label :longitude%>
        <p>LONGITUDE</p>
      </div>
      <div class="input">
        <%= f.text_field :longitude, :id => "long", :readonly => true, placeholder: "...Please Wait"  %>
      </div>
    </div>
  </div>
  <div class="actions">
    <%= f.submit "Submit" %>
  </div>
<% end %>
