<p id="notice"><%= notice %></p>

<div id="container-s">
  <div id="container-sl">
    <h1>Your Sightings:</h1>

      <div id="sighting-list">
          <% @sightings.each do |sighting| %>
            <div id="sighting-item">
              <div id="sighting-info">
                <p><b>Day:</b> <%= sighting.day %></p>
                <p><b>Latitude: </b> <%= sighting.latitude %></p>
                <p><b>Longitude: </b> <%= sighting.longitude %></p>
              </div>
              <div id="sighting-bottom">
                <div id="delete">
                  <%= link_to 'Delete', sighting, method: :delete, data: { confirm: 'Are you sure?' } %>
                </div>
              </div>
            </div>
          <% end %>

      </div>

    <p class="center"><%= link_to 'New Sighting', new_sighting_path %><p>
    <p class="center"><%= link_to 'View Your Locations of Interest', interest_locations_path %></p>

  </div>

  <div id="map">
    <h1>MAP GOES HERE</h1>
    <p>This map is the same map as the homepage map.</p>
    <p>But when the user enters a new sighting the map will add a marker representing the new sighting entered.</p>
  </div>


</div>
<br>



