<%= include_gon %>
<div id="storefront">
  <div id="signimage">
    <div id="siteform">

      <p id="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

      <h1 class="user-signed-in">ParkNark</h1>
      <p class="sign-out"><%= link_to("Sign OUT", destroy_user_session_path, :method => :delete) %></p>
      <div class="container">
        <div class="top-tab">
          <p>YOUR SIGHTINGS HISTORY</p>
        </div>
        <div id="map"></div>
      </div>

      <div class="sightings-bottom">
        <div class="sightings-b-l">
          <p><%= link_to 'New Sighting', new_sighting_path %></p>
        </div>
        
        <div class="sightings-b-r">
          <p><%= link_to 'View Your Points of Interest', interest_locations_path %></p>
        </div>
      </div>

    </div>
  </div>
</div>

<!-- The below div will be deleted once the appropriate map is created for this page -->
<!-- <div>
  <h1>Once the appropriate map is created DELETE ME! (I AM A DIV)</h1>
  <#% @sightings.each do |sighting| %>
    <p><b>Day:</b> <%#= sighting.day %></p>
    <p><b>Latitude: </b> <%#= sighting.latitude %></p>
    <p><b>Longitude: </b> <%#= sighting.longitude %></p>
    <td><%#= link_to 'Show', sighting %></td>
    <td><%#= link_to 'Edit', edit_sighting_path(sighting) %></td>
    <%#= link_to 'Destroy', sighting, method: :delete, data: { confirm: 'Are you sure?' } %>
  <%# end %>
</div> -->
