<!--
<div id="storefront">
  <div id="signimage">
    <div id="siteform">
      <div id="siteobject">
            <img src=" /assets/ParkNarkCenter.png "alt="Smiley face"  height="81px" width="82%" onmouseover="this.src=' /assets/ParkNarkRight.gif '" onmouseout="this.src=' /assets/ParkNarkCenter.png '"class="img-responsive center-block"><br>
      </div> -->
      <p id="notice"><%= notice %></p>

      <%= link_to("Sign OUT", destroy_user_session_path, :method => :delete) %>
      <div class="ticket-button">
          <p class="alert"><%= alert %></p>
      </div>

      <div class="temp-sightings-index">
        <!-- Delete this div once the appropriate map has been created. -->
        <!-- check comments below for details on appropriate map -->
      <div id="map"></div>

      <div>
        <!-- Rogerio commented out the map until the right map gets created -->
        <!-- this means a map that displays all the current user's sighting history -->
        <!-- via pins on the map -->
        <!-- <div id="map"></div> -->

          <p><%= link_to 'New Sighting', new_sighting_path %></p>
          <p><%= link_to 'View Your Points of Interest', interest_locations_path %></p>
      </div>

    </div>
  </div>
</div>

<!-- The below div will be deleted once the appropriate map is created for this page -->
<div>
  <!-- <h1>Once the appropriate map is created DELETE ME! (I AM A DIV)</h1> -->
  <% @sightings.each do |sighting| %>
    <p><b>Day:</b> <%= sighting.day %></p>
    <p><b>Latitude: </b> <%= sighting.latitude %></p>
    <p><b>Longitude: </b> <%= sighting.longitude %></p>
    <td><%= link_to 'Show', sighting %></td>
    <td><%= link_to 'Edit', edit_sighting_path(sighting) %></td>
    <%= link_to 'Destroy', sighting, method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
</div>
