<div id="storefront">
<div id="signimage">
<div id="siteform">

<h1 style="display:flex;justify-content: center;">New Sighting</h1>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<%= link_to("Sign UP", new_user_registration_path) %>
<%= link_to("Sign IN", new_user_session_path) %>
<%= button_to("Sign OUT", destroy_user_session_path, :method => :get) %>

<%= render 'form' %>

<%= link_to 'Back', sightings_path %>
</div>
</div>
</div>
