<%= include_gon %>
<div id="storefront">
  <div id="signimage">
    <div id="siteform">

      <p id="notice"><%= notice %></p>

      <h1>Notification Radius</h1>

      <div id="map"></div>

      <table>
        <thead>
          <tr>
            <th>Latitude</th>
            <th>Longitude</th>
            <th>Radius</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody> 
          <% @interest_locations.each do |interest_location| %>
            <tr>
              <td><%= interest_location.latitude %></td>
              <td><%= interest_location.longitude %></td>
              <td><%= interest_location.radius %></td>
              <td><%= link_to 'Show', interest_location %></td>
              <td><%= link_to 'Edit', edit_interest_location_path(interest_location) %></td>
              <td><%= link_to 'Destroy', interest_location, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <br>

      <p><%= link_to 'New Interest location', new_interest_location_path %></p>
      <p><%= link_to "Your Profile", sightings_path %></p>
    </div>
  </div>
</div>

