<%= include_gon %>         
<img class="fix" src=" /assets/ParkNarkCenter.png "alt="Smiley face"  height="81px" width="82%" onmouseover="this.src=' /assets/ParkNarkRight.gif '" onmouseout="this.src=' /assets/ParkNarkCenter.png '"class="img-responsive center-block">
<div class="container-il">
	<div class="top-tab">
		<p>YOUR CURRENT SCOPE</p>
	</div>
	<div id="map"></div>
</div>

<% if @interest_locations.length == 0 %>
	<div class="empty">
		<%= link_to 'Click to Add an Area', new_interest_location_path %>
	</div>
	<div class="link-to-profile">
		<%= link_to "HOME", sightings_path %>
	</div>
<% else %>
	<div class="scroll">
		<div class="space"></div>
		<% @interest_locations.each do |item| %>
		<div class="box">
			<div class="item">
				<p><%= item.created_at.strftime("%a %b %d %-I:%M  %p") %></p>
			</div>
			<div class="remove">
				<p><%= link_to 'X', item, method: :delete, data: { confirm: 'Are you sure?' }  %></p>
			</div>
		</div>
		<div class="space"></div>
		<% end %>
	</div>
	<div class="link-to-profile">
		<%= link_to "HOME", sightings_path %>
	</div>
	<div class="add-il">
		<%= link_to 'ADD', new_interest_location_path %>
	</div>
<% end %>

