<!DOCTYPE html>
<html>
<head>
  <!-- <script src="http://maps.googleapis.com/maps/api/js"></script> -->
  <title>Park_Nark</title>
  <%= Gon::Base.render_data(:init => true) %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
</head>
<!-- <body class="<%#= controller_name %> <%#= action_name %>"> -->
<body>
  <div id="storefront">
    <div id="signimage">
      <div id="siteform">
        <%# if notice || alert %>
        <!-- <div class="disappear">
          <p id="notice"><%#= notice %></p>
          <p class="alert"><%#= alert %></p>
        </div> -->
        <%# end %>
        <% if user_signed_in? %>
          <div class="sign-out">
            <%= link_to("Sign OUT", destroy_user_session_path, :method => :delete) %>
          </div>
        <% end -%>
        <div id="siteobject">
        </div>
        <script async defer src="https://maps.googleapis.com/maps/api/js?key=<%=ENV['GOOGLE_MAPS_API_KEY_JS']%>" type="text/javascript"></script>
        <%= yield %>

      </div>
    </div>
  </div>
</body>
</html>
